.main_nav {
    .menu-icon {
        display: none;
    }
    .logo {
        margin-right: 1em;
    }
    ul {
        width: 960px;
        li {
            float: left;
            padding-right: 1em;
        }
        a:hover {
            color: #ff8000;
            background: none;
        }
    }
}

.main_nav_container {
    width: 960px;
    margin: 0 auto;
}