
.schedule_search {
    .search_form {
        
    }
    .schedule_map_container {
           
    }
    #schedule_search_map {
        
    }
}

.schedule_table_container {
    width: 600px;
}

.schedule_page_container {    
    .other_info_container {
        width: 292px;
    }
}

.schedule_container {
    .route_schedule {
        th {
            width: 150px;
        }
    }
}

.board_result {
    width: 600px;
    .board_summary {
        width: 584px;
    }
}

.proximity_board {
    .board_result {
        width: 600px;
    }
}

.board_map {
    width: 312px;
    height: 274px;
}