.schedule_search {
    .search_form {
        .schedule_form_container {
            width: 400px;
        }
    }
    .schedule_map_container {
        width: 844px;   
    }
    #schedule_search_map {
        height: 500px;
    }
}

.schedule_table_container {
    width: 700px;
}

.schedule_page_container {    
    .other_info_container {
        width: 342px;
    }
}

.schedule_container {
    .route_schedule {
        th {
            width: 150px;
        }
    }
}

.board_result {
    width: 700px;
    .board_summary {
        width: 684px;
    }
}

.proximity_board {
    .board_result {
        width: 700px;
    }
}

.board_map {
    width: 532px;
    height: 400px;
}